<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            A class representing a combo meal
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Gets and sets the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            Gets and sets the side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            Gets and sets the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Gets the price of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Gets the calories of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            Gets or sets the size of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Gets the list of ingredients for the combo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Constructs a new combo with the specified entree
            </summary>
            <param name="entree">The entree to use</param>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            This represents the basic Side, all food options on the side will be modeled after this.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            This represents the basic Drink, all drink options on the menu will be modeled after this.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.#ctor">
            <summary>
            This represents the basic Drink, all drink options on the menu will be modeled after this.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            Gets and sets the Ice
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            Holds whether the lettuce
            is being held or not
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.JurrasicJava">
            <summary>
            This is used to show all the detials of
            the Tyrannotea option on the menu. Tyrannotea
            inherits basic drink features and qualities from Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Ice">
            <summary>
            Gets and sets the Ice
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.RoomForCream">
            <summary>
            Gets and sets the RoomForCream
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Decaf">
            <summary>
            Gets and sets the Decad
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.LeaveRoomForCream">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.AddIce">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            This represents the sdifferent odasaurus flavors available.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            This is used to show all the detials of
            the Sodasaurus option on the menu. Sodasaurus
            inherits basic drink features and qualities from Drink.
            and also uses the Flavor enum to provide the different flavors
            the drink is available in.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            This is a list of all the flavors available
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            This is used to show all the detials of
            the Tyrannotea option on the menu. Tyrannotea
            inherits basic drink features and qualities from Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            Gets and sets the Lemon
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            Gets and sets the Sweet
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            This is the water class it inherits basic
            qualities about a drink from Drink. It also is used
            for the basic water option on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            Gets and sets the Lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            This represents the Brontowurst, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            Holds whether the peppers
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            Holds whether the onion
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            This represents the DinoNuggets, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            Used to add a nugget
            to the order
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            This represents the basic Entree, all food options on the menu will be modeled after this.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            This represents the PrehistoricPBJ, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Holds whether the peanut butter
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            Holds whether the jelly
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            This represents the PterodactylWings, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            This represents the SteakosaurusBurger, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            Holds whether the pickle
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            Holds whether the ketchup
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            Holds whether the mustard
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            This represents the TRexKingBurger, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            Holds whether the bun
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            Holds whether the lettuce
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            Holds whether the tomato
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            Holds whether the onion
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            Holds whether the pickle
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            Holds whether the ketchup
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            Holds whether the mustard
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            Holds whether the mayo
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            This represents the VelociWrap, a food Entree on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            Holds whether the dressing
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            Holds whether the lettuce
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            Holds whether the cheese
            is being held or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            Everything in the menu will have to implement the methods of IMenuItem
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            This represents the menu class and all of the contents in it.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            This is a list of all the ingredients
            that are available in the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            This is a list of all the options
            that are available in the entrees
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            This is a list of all the options
            that are available in the sides
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            This is a list of all the options
            that are available in the drinks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableCombos">
            <summary>
            This is a list of all the options
            that are available in the combos menu
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            Returns the contents of the menu
            </summary>
            <returns>The menu</returns>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            This represents the Fryceritops, a food Side option on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            This represents the MeteorMacAndCheese, a food Side option on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            This represents the MezzorellaSticks, a food Side option on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            This is the abstract class for all Sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            This represents the Triceritots, a food Side option on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            This is a list of all the ingredients
            that are in the food.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            This is the size of the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            Returns the name of the order
            </summary>
            <returns>Name of the order</returns>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            This is the constructor.
            It sets the price and calories
            for the food
            </summary>
        </member>
    </members>
</doc>
